<html>
    <head>
        <title>Account for receptionist</title>
    </head>
    <body>
        <h1>Account for receptionist</h1>
        
            <form  method='post'>
                {% csrf_token %}
                
                <input type='text'   name='username'     placeholder='Username'><br>

                <input type='text'   name='salon'     placeholder='salon'><br>
               
                <input type='password'  name='password'        placeholder='Password'><br>

                <input type='password'  name='confirm_password'        placeholder='confirm_password'><br>
            
                
                <input type="submit" value="create">
                
            </form>
    </body>
</html>
