<html>
    <head>
        <title>Sign in</title>
    </head>
    <body>
        <h1>Sign in to access Salon Dashboard</h1>
        
            <form  method='post'>
                {% csrf_token %}
                
                <input type='text'   name='username'     placeholder='Username'><br>
               
                <input type='password'  name='password'        placeholder='Password'><br>
            
                
                <input type="submit" value="SIGN IN">
                
            </form>
    </body>
</html>