<html>
    <head>
        <title>Admin Portal</title>
<a style="float:right;" href="http://127.0.0.1:8000/logout">logout</a>
        <div class='links'>
            <a href="http://127.0.0.1:8000/staff_view">Staffs</a>
            <a href="http://127.0.0.1:8000/service_view">Services</a>
            <a href="http://127.0.0.1:8000/product_view">Products</a>
            <a href="http://127.0.0.1:8000/customer_view">Customers</a>
            <a href="http://127.0.0.1:8000/salon_view">Salons</a>
            <a href="http://127.0.0.1:8000/select_customer">Sell items</a>
        </div>
    </head>
<body>
    <a href="http://127.0.0.1:8000/receptionist_accCreation">Create Account for Salon Receptionist</a><br>
    <a href="http://127.0.0.1:8000/manager_accCreation">Create Account for Salon Manager</a>

</body>
    
</html>
<style>
    .links{
    font-size: 26px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
</style>
